.sidebar {
  position: fixed;
  width: 230px;
  height: 100vh;
  top: 0;
  left: 0;
  background: #222e3c;
  color: #fff;
}

.content-container {
  margin-left: 230px; /* Tương ứng với chiều rộng của sidebar */
}
