.ad-sidebar {
  color: #fff !important;
  background: #222e3c;
  min-width: 56px;
  width: 230px !important;
  padding-right: 12px !important;
  height: 100vh !important;
  z-index: 1;
  /* overflow-y: scroll; */
  overflow: hidden;
  font-size: 14px !important;
}
.ad-sidebar-logo {
  display: flex;
  align-items: center;
  padding: 20px 0 20px 4px;
  color: #ffffff;
  gap: 6px;
}
.ad-sidebar-logo h2 {
  font-size: 36px !important;
  padding-top: 8px;
}

.ad-sidebar-logo > img {
  width: 50px;
  height: 50px !important;
}
.ad-sidebar-title {
  font-size: 24px !important;
}
.ad-sidebar-title:hover {
  cursor: pointer;
  color: #fff;
}
.ad-item-router {
  color: rgba(247, 249, 251, 0.75);
  height: 48px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 16px;
  /* border-top: 1px solid rgba(233, 236, 239, 0.5); */
  position: relative;
  text-decoration: none !important;
  border-radius: 0 80px 80px 0 !important;
}
/* .ad-sidebar-item:nth-of-type(5) {
  border-bottom: 1px solid rgba(233, 236, 239, 0.5);
} */
/* .ad-sidebar-item {
  padding-right: 10px !important;
} */

.ad-item-router:hover {
  border-left: 3px solid transparent;
  color: #fff !important;
  font-weight: 400;
  padding-left: 2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none !important;
}

.ad-item-router.active {
  /* content: ""; */
  background-color: rgba(244, 242, 242, 0.2);
  box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42),
    0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  color: #fff !important;
  /* width: calc(100% + 6px);
  height: 54px;
  left: -6px;
  top: 0px;
  position: absolute; */
  /* border-radius: 0 80px 80px 0 !important; */
}

.ad-item-router i {
  font-size: 16px !important;
  font-weight: 700 !important;
}
@media screen and (max-width: 800px) {
  .ad-item-router .ad-item-title {
    display: none;
  }
  .ad-sidebar-title {
    display: none !important;
  }
  .ad-sidebar-logo h2 .title-hidden {
    display: none !important;
  }

  .ad-sidebar {
    width: 56px !important;
  }
}
